# Enable debugging mode.
DEBUG=true

# API connection settings.
API_HOST=https://jsonplaceholder.typicode.com
API_KEY=heynode
API_SECRET=hey-this-is-a-secret


#API_HOST=cl-back-web
GOOGLE_MAPS_API_KEY=my_google_maps_api_key



# ***** USER  *****

INITIAL_ADMIN_EMAIL=azeezhamzat3@gmail.com
INITIAL_ADMIN_PASSWORD=intellab1.1
INITIAL_ADMIN_FIRST_NAME=Admin
INITIAL_ADMIN_LAST_NAME=User

# ***** TIMEZONE *****
CL_SETTINGS_CORE_TIMEZONE=Casablanca

# Delete the `#` in front of the keys to uncomment them, and fill in the appropriate values
SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
#SMTP_DOMAIN=
SMTP_USER_NAME=azeezhamzat3@gmail.com # this could also be someone@my_gmail_hosted_email.com
SMTP_PASSWORD=my_gmail_password
SMTP_AUTHENTICATION=plain
SMTP_ENABLE_STARTTLS_AUTO=true
# SMTP_OPENSSL_VERIFY_MODE=

